.social-media i {
    font-size: 25px;
    margin: 10px;
    color: #00004d;
}

.custom-card {
    border-color: #00004d !important;
}

.login {
    text-align: center;
}

.line-through {
    text-decoration: line-through;
}

.login-form {
    text-align: left;
}

.login-form .label {
    margin-top: 15px;
    margin-bottom: 5px;
}

Form.button {
    margin-top: 50px !important;
}

// form input,
// form button {
//     margin: 5px;
//     width: 100%;
//     padding: 5px;
// }

// .signup {
//     background-color: #00004d;
//     color: #fff;
//     text-align: center;
// }

// .signup h2 {
//     margin: 350px auto 20px auto;
// }

// // @media screen and (max-width: 500px) {

// //     .login-page {
// //         display: grid;
// //         grid-template-columns: 1fr;
// //     }

// // }