.login {
    margin-bottom: 25px;
    text-align: center;

    .card {
        border: #00004d 1px solid;
        position: relative;

        .card-body {
            padding: 25px;
            color: #00004d;

            .card-title {
                font-size: 20px;
                padding: 5px;
                margin-bottom: 30px;
            }

            .card-subtitle {
                font-weight: normal;
                font-size: 17px;
            }

            .social-media {
                font-size: 25px;
                margin: 15px;
                margin-top: 30px;
                color: #00004d;

                i {
                    margin: 15px auto;
                }
            }

            p {
                font-weight: bold;
            }

            form {
                margin: 0 10px;
                text-align: left;

                label {
                    margin-top: 15px;
                    margin-bottom: 5px;
                    padding-left: 5px;
                }

                button {
                    width: 100%;
                    margin: 20px auto 5px auto;
                    background-color: #002266;
                    border: #00004d 1px solid;
                    color: #fff;
                    font-weight: bold;
                    padding: 0;
                    height: 2.5rem;
                }
            }

            .reset-password {
                text-decoration: none;
                color: #002266;
            }
        }
    }
}

.seperator {
    text-align: center;

    .line-through {
        text-decoration: line-through;
    }

}

.register {
    button {
        width: 100%;
        margin: 20px auto 5px auto;
        background-color: #002266;
        border: #00004d 1px solid;
        color: #fff;
        font-weight: bold;
        padding: 0;
        height: 2.5rem;
    }

    a {
        text-decoration: none;
        color: #fff;
    }

}